body {
  margin: 0;
  background-color: rgb(55, 55, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}
a {
  cursor: pointer;
}
header {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 50px 10px 50px;
}
#logo {
  width: 200px;
  margin: 20px 0 0px 0;
}
#create_post_container {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-collapse: collapse;
  padding: 5px 0 5px 0;
}
#create_post_article_container {
  display: flex;
  flex-direction: row;
  width: 900px;
  align-items: flex-start;
  margin: 20px 0 20px 0;
  justify-content: space-between;
}
#create_post_label {
  font-size: 18px;
}
.create_post_inputs {
  border: none;
  resize: none;
}
.create_post_inputs:focus {
  outline: none;
}
#create_post_title_input {
  width: 850px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}
#create_post_content_input {
  width: 850px;
  height: 350px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}
#create_post_btn {
  width: 90px;
  height: 30px;
  margin: 20px 0 0 0;
  cursor: pointer;
}
